body {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  align-items: baseline;

  &-nav {
    display: flex;
    justify-content: space-between;

    &__tab {
      color: #ff9800;
      text-transform: uppercase;
      margin: 0 5px;

      &.active {
        color: #c7c1c1;
      }
    }

    &__tab:hover {
      cursor: pointer;
      color: black;
    }
  }
}

.content {
  border: 2px solid #c7c1c1;
  border-radius: .5rem;
  padding: 30px;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-tab {
    display: none;

    &.active {
      display: block;
    }
  }

}

.cards-wrapper {
  display: flex;

  & input[type=radio] {
    display: none;
  }

  & input[type=radio]:checked + label {
    opacity: 0.5;
  }

  label {
    height: 100%;
    margin: 0 20px;
    display: flex;
  }

  label:hover {
    cursor: pointer;
  }

  &__bigCard {
    width: 50%;
    display: flex;
    flex-direction: column;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;

      & .bigCard-card {
        width: 6rem;
        height: 6rem
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card-background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: .5rem;

  p {
    color: #ffffff;
    margin: 0;
    padding: .4rem;
    font-size: 2rem;
    opacity: .5;
  }
}

.card-wrapper {
  border: 2px solid #000000;
  padding: 2px;
  border-radius: .5rem;
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
  margin: .4rem;

  &__background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: .5rem;

    p {
      color: #ffffff;
      margin: 0;
      padding: .4rem;
      font-size: 1.5rem;
      opacity: .5;
    }
  }
}

.card {
  align-items: center;

  .card-wrapper {
    margin-right: 2rem;
  }

  &-text {
    position: relative;
    margin-left: 25px;
  }

  &-text:before {
    content: '•';
    font-size: 3rem;
    color: gray;
    position: absolute;
    left: -20px;
    top: -1.5rem;
  }
}

.green {
  background: rgb(3, 124, 3);
}

.pink {
  background: #f22deb;
}

.blue {
  background: rgb(9, 9, 243);
}

.text-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .content {
    height: fit-content;
  }

  .cards-wrapper__bigCard-wrapper {
    flex-direction: row;
  }

  .cards-wrapper__bigCard {
    width: 100%;
  }

  .cards-wrapper {
    flex-direction: column;
  }

  .card .card-wrapper {
    margin-right: 0;
  }

  .cards-wrapper__bigCard-wrapper .bigCard-card {
    width: 4rem;
    height: 4rem;
  }
}